{% extends 'base.html'%}

{% block head %}
<!-- Diisi head -->
{% endblock %}
{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Krisis Ekonomi</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card">
            <div class="card-body">
              <p>Krisis ekonomi adalah suatu kondisi yang mana perekonomian dalam suatu negara mengalami penurunan yang sangat signifikan. Umumnya, negara yang mengalami kondisi tersebut akan mengalami penurunan produk domestik bruto, menurunnya harga properti dan saham, dan juga tingginya angka inflasi.</p>
              <p>Kondisi ini memang sangatlah menakutkan, karena akan ada banyak sekali orang yang dirugikan, gejala yang hadir saat krisis ekonomi umumnya diawali dengan penurunan belanja dari pihak pemerintah. Lalu, persentase pengangguran yang melebihi 50 % dari jumlah tenaga kerja yang ada.</p>
              <p>Selain itu, akan terjadi juga kenaikan pada harga pokok yang tinggi, menurunnya konsumsi masyarakat, menurunnya nilai tukar yang sulit dikontrol, dan penurunan perkembangan ekonomi yang sangat signifikan.</p>
              <h5>Krisis Ekonomi di Indonesia</h5>
              <p>Seperti yang sudah kita ketahui bersama bahwa Indonesia sudah pernah mengalami krisis ekonomi di tahun 1998 lalu, pada saat itu kondisi ekonomi sangatlah anjlok, dan bahkan terkontraksi 17,9% dalam kuartal III. Dampak dari kondisi tersebut sangatlah besar.</p>
              <p>Sebanyak ratusan perusahaan, mulai dari perusahaan kecil hingga perusahaan konglomerat turut tumbang pada krisis di tahun 1998. Sebanyak 70% lebih perusahaan yang melantai di pasar modal mendadak mengalami kebangkrutan.</p>
              <p>Lalu, tingkat pengangguran meningkat pada level yang sebelumnya belum pernah terjadi sejak akhir tahun 1960 an, yaitu sebanyak 20 juta orang atau lebih dari 20% angkatan kerja. Karenanya, angka kemiskinan di Indonesia pun meningkat tajam. Angka kemiskinan yang terjadi pada tahun 1998 lalu tercatat mencapai sekitar 50% dari total jumlah penduduk Indonesia.</p>
              <p>Berdasarkan dampak tersebut, maka saat ini pemerintah turut berusaha secara maksimal agar tidak lagi mengalami krisis seperti tahun 1998.</p>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <!-- Footer -->
            </div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}